# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb

# Virtual environments
venv/
ENV/
env/
.venv/

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Git
.git/
.gitignore

# Test & coverage
htmlcov/
.coverage
.tox/
.nox/
.cache/
pytest_cache/

# Alembic migration history
alembic/versions/

# Logs
*.log